.seventhWindow {
  display: flex;
  width: 100%;
  margin: 120px 0 120px 0;
  justify-content: space-around;
  flex-wrap: wrap;
}
.seventhWindow .sevenDescr {
  justify-content: center;
  display: flex;
  width: 100%;
  margin-bottom: 80px;
  font-family: 'Roboto';
  font-size: 25px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.seventhWindow .contactCard {
  width: 415px;
  height: 474px;
  background: #ffffff;
  border-radius: 8px;
  padding: 79px 9px 161px 45px;
  box-sizing: border-box;
}
.seventhWindow .contactCard h3 {
  font-family: 'Roboto';
  font-size: 25px;
}
.seventhWindow .contactCard p {
  font-family: 'Roboto';
  font-size: 18px;
}
